/* FONTES DO TUISTER */

@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-regular-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-medium-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/chirp-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

/* FIM DAS FONTES DO TUISTER */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: TwitterChirpExtendedHeavy, Verdana, sans-serif;
}

.body-container {
  display: flex;
  height: 100vh;
}

.body-container .left-side {
  background-image: url(images/twitter-background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container .left-side .logo-twitter {
  padding: 0 40px;
  max-width: 450px;
}

.body-container .right-side {
  background-color: black;
  color: rgb(217, 217, 217);
  display: flex;
  align-items: center;
}

.body-container .right-side .main-container {
  padding: 30px;
}

.body-container .right-side .main-container .logo-twitter {
  width: 43px;
}

.body-container .right-side .main-container .title {
  margin: 48px 0;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -1.2px;
}

.body-container .right-side .main-container .subtitle {
  margin-bottom: 32px;
  line-height: 36px;
  font-size: 31px;
  font-weight: 700;
}

.body-container .right-side .main-container .buttons-container {
  display: flex;
  justify-content: space-around;
}

.body-container .right-side .main-container .buttons-container .signup {
  background-color: rgb(29, 161, 242);
  color: white;
}

.body-container .right-side .main-container .buttons-container .login {
  background-color: black;
  border-color: rgb(29, 161, 242);
  color: rgb(29, 161, 242);
}

.body-container .right-side .main-container .buttons-container button {
  padding: 0 32px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  min-height: 48px;
  font-weight: 700;
  flex-grow: 1;
}

/* Regra para telas acima de 1000px */
@media screen and (min-width: 1000px) {
  .body-container .left-side {
    height: 100vh;
    flex-grow: 1;
  }
  
  .body-container .right-side {
    height: 100vh;
    width: 755px;
  }

  .body-container .right-side .main-container .buttons-container {
    flex-direction: column;
  }

  .body-container .right-side .main-container .buttons-container button {
    width: 314px;
  }

  .body-container .right-side .main-container .buttons-container .signup {
    margin-bottom: 20px;
    font-size: 15px;
  }


}

/* Regra para telas abaixo de 1000px */
@media screen and (max-width: 1000px) {
  .body-container {
    flex-direction: column-reverse;
  }

  .body-container .left-side {
    height: 45%;
    width: 100%;
  }

  .body-container .left-side .logo-twitter {
    margin: 70px 0;
  }

  .body-container .right-side {
    height: 55%;
    width: 100%;
    justify-content: center;
  }

  .body-container .right-side .main-container {
    max-width: 568px;
  }

  .body-container .right-side .main-container .buttons-container button {
    max-width: 314px;
  }

  .body-container .right-side .main-container .buttons-container .signup {
    margin-right: 20px;
  }

}

/* Regra para telas abaixo de 500px */
@media screen and (max-width: 500px) {
  .body-container .right-side .main-container .title {
    font-size: 40px;
  }

  .body-container .right-side .main-container .buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .body-container .right-side .main-container .buttons-container button {
    width: 100%;
    max-width: 1000px;
  }

  .body-container .right-side .main-container .buttons-container .signup {
    margin-right: 0;
    margin-bottom: 20px;
  }

  
}
